@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

root {
    --primary: #52f1ff;
    --secondary: #ff0073;
    --black: #050505;
    --grey: #313131;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    scroll-behavior: smooth;
}

p::first-letter {
    color: #52f1ff;
}

/* ************************ NAVBAR ****************************** */

header {
    position: fixed;
    top: 0;
    left: 0;

    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: 100px;
    height: 100px;
    width: 100%;

    background-color: rgb(5, 5, 5, 0.7);
    backdrop-filter: blur(10px);

    transition: all 0.35s linear;
    z-index: 100;
}

header.sticky {
    background-color: rgb(5, 5, 5, 1);
    grid-template-rows: 70px;
    height: 70px;
}

header a.logo {
    grid-column: 2/3;
    align-self: center;

    font-size: 1.6em;
    font-weight: 500;
    letter-spacing: 0.05em;

    color: rgb(0, 234, 255);
    text-decoration: none;
}

header a.logo:hover {
    animation: kit 1.5s ease infinite alternate;
}

header nav {
    display: flex;
    justify-content: space-evenly;

    grid-column: 3/4;
}

header nav a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    align-self: center;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.9em;
    position: relative;
    transition: all 0.25s linear;
    letter-spacing: 0.1em;
}

header nav a:hover {
    color: rgb(0, 234, 255);
    font-size: 1em;
    font-weight: 400;
}

header nav a:after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    display: block;
    background-color: rgb(0, 234, 255);
    bottom: -15%;
    left: 0;
    transform-origin: center;
    transition: 0.3s linear;
    transform: scale(0);
}

header nav a:hover:after {
    transform: scale(1);
}

.burgerToggle {
    display: none;
}



/* *************************************** HEADER ********************************************************* */



section.header {
    background-image: url(./img/bg_chat.jpg);
    background-size: cover;
    background-position: center center;

    height: 100vh;
    display: grid;
    grid-template-columns: 5% 1fr 1fr 5%;
    grid-template-rows: calc(100vh - 70px);
}

section {
    padding: 100px 0;
}

section .content {
    grid-column: 2/4;
    margin-top: 300px;
    margin-left: 100px;

}

section.header .title {
    color: #fff;
    font-size: 6em;
    letter-spacing: 0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
}

section .content p {
    color: rgb(195, 195, 195);
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: 300;
}



/* *************************************** THE WALL ********************************************************* */



section.wall {
    background-color: #050505;
    padding: 150px 150px;
    display: grid;

}

section.wall .title {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
    font-size: 5.5em;
}

section.wall .thumbnail {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 350px 350px 350px;
    margin: auto;

}

section.wall .thumbnail .thumb {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-position: center center;
    position: relative;
    filter: opacity(0.8);
    margin: auto;

    transition: all 0.25s linear;
    animation: pop 1.8s ease-in-out normal;
}

section.wall .thumbnail .thumb:hover {
    filter: opacity(1);
    filter: scale(1.08)
}


section.wall .button-block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

section.wall .button-block .button {
    background: rgb(5, 5, 5);
    color: white;
    font-size: 2em;
    border: 1px solid white;
    padding: 5px 65px 7px;
    position: relative;

    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);
    transition: 0.3s ease-in-out;
    z-index: 2;
}

section.wall .button-block .button:hover {
    color: rgba(5, 5, 5);
    transform: translateZ(20px);
    text-shadow: -3px 3px 4px rgba(5, 5, 5, 0.5);
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.5);
    border: 1px solid black;

    transition: color 0.8s ease-in-out;
}

section.wall .button-block .button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 0;
    background: #52f1ff;
    transition: width 0.5s ease;
    z-index: -1;
}

section.wall .button-block .button:hover::before {
    width: 100%;
    left: 0;

}



/* ******************************** THE TEAM ************** */



section.team {
    height: 600px;
    width: 100%;
    padding: 100px 150px;
    background: #101010;
    border: 2px solid #313131;
    position: relative;
    z-index: 1;
}

section.team .block .blockDescription {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    z-index: 100;
    position: relative;
}
section.team .block .bg {
    position: absolute;
    background: url(./img/patte_noBg.png) no-repeat center center;
    top: 45px;
    right: 0;
    width: 500px;
    height: 500px;
    background-size: 600px;
    filter: drop-shadow(5px 5px 10px rgb(242, 242, 242, 0.5));
    z-index: -1;
    opacity: 0.2;
}


section.team .block .title {
    grid-column: 2/3;
    text-align: end;
    font-size: 5.5em;
    color: #fff;
}

section.team .block p {
    grid-column: 2/3;
    text-align: end;
    color: rgb(195, 195, 195);
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 300;
}

section.team div.team {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;
}

div.card {
    background: rgb(5, 5, 5);
    border: 2px solid #313131;
    width: 400px;
    border-radius: 10px;
    transform-style: preserve-3d;
    box-shadow: 0 0 25px 2px rgba(31, 31, 31, 0.8);
}

div.card:hover {
    box-shadow: 0 0 25px 8px rgba(31, 31, 31, 1);
}

.card .imgBx {
    width: 95%;
    height: 300px;
    position: relative;
    margin: 10px auto;
    transform: translateZ(10px);
}

.card .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.4s ease;
    border-radius: 10px;
}


.card .card-content {
    display: block;
    padding: 30px 20px;

    transition: all 0.4s ease;
}

.card .card-content p {
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
    padding: 0 10px;
    transform: translateZ(30px);

}

.card .card-content p,
h3 {
    color: #fff;
    text-align: center;
    transform: translateZ(30px);
}

.card .card-content h3 {
    margin-top: 20px;
    font-size: 2em;
    letter-spacing: 0.1em;
}


.blue {
    color: #52f1ff;
}

.pink {
    color: #ff0979;
}




/* ******************************** CONTACT ************** */




section.contact {
    background: rgb(5, 5, 5);
    padding: 500px 150px 100px;
}
section.contact .block {
    padding-top: 100px;
}
section.contact .block .title {
    color: #fff;
    text-align: start;
    font-size: 5.5em;
}
section .block p {
    text-align: start;
    color: rgb(195, 195, 195);
    margin-top: 20px;
    font-size: 1.8em;
    font-weight: 300;
}
section.contact form {

    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr;
    position: relative;
    background: linear-gradient(180deg, rgba(5,5,5,1) 5%, rgba(255,255,255,0) 35%, rgba(255,255,255,0) 65%, rgba(5,5,5,1) 95%), url(./img/bg_contact-dark.jpg) no-repeat center center;
    
    background-size: cover;
    margin-top: 100px;
}
section.contact form .contactForm {
    padding: 50px 50px;
    width: 100%;
    margin: auto;

    background: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur( 4px );

    box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.4);
}
.contactForm .inputBox {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea {
    width: 100%;
    border: 1px solid #555;
    background-color: transparent;
    padding: 10px;
    color: #fff;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}
.contactForm .inputBox textarea {
    height: 300px;
}
section.contact form button {
    background: rgb(5, 5, 5);
    margin-top: 20px;
    color: white;
    font-size: 1.5em;
    border: 1px solid white;
    padding: 2px 45px 5px;
    position: relative;

    box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);
    transition: 0.3s ease-in-out;
    z-index: 2;
}
section.contact form button:hover {
    color: rgba(5, 5, 5);
    transform: translateZ(20px);
    text-shadow: -3px 3px 4px rgba(5, 5, 5, 0.5);
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.5);
    border: 1px solid black;

    transition: color 0.8s ease-in-out;
}
section.contact form button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 0;
    background: #52f1ff;
    transition: width 0.5s ease;
    z-index: -1;
}
section.contact form button:hover::before {
    width: 100%;
    left: 0;
}



/* ************************** FOOTER ****************************** */



footer {
    background: #050505;
    border-top: 1px solid #313131;
    padding: 100px 100px
}
footer .block h3 {
    color: rgb(230, 230, 230);
    font-size: 1.6em;
    text-align: center;
    font-weight: 300;
}


footer .block p {
    color: rgb(195, 195, 195);
    font-size: 1.4em;
    text-align: center;
}
footer .block .love {
    color: rgb(151, 151, 151);
    align-items: center;
    font-size: 1.3em;
    margin-top: 80px;

}
footer .block .love::first-letter {
    color: rgb(151, 151, 151);


}







/* *************************************** MEDIA QUERIES ********************************************************* */
/* ***************************************************************************************************************** */
/* ***************************************************************************************************************** */



@media (min-width: 2400px) {
    section.wall .thumbnail {
        grid-template-columns: repeat(6, 350px);
        grid-template-rows: repeat(2, 350px);
    }
    section.team div.team {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 100px;
    }
    section.team div.team .card {
        margin-right: 10%;
        margin-left: 10%;
        width: 500px;
    }

    section.contact form {
        grid-template-columns: 40% auto;
    }
}
@media (max-width: 2399px) {
    section.wall .thumbnail {
        grid-template-columns: repeat(4, 350px);
        grid-template-rows: repeat(3, 350px);
    }
    section.contact form {
        grid-template-columns: 50% auto;
    }

}
@media (max-width: 1800px) {
    section.wall .thumbnail {
        grid-template-columns: repeat(3, 350px);
        grid-template-rows: repeat(4, 350px);
    }
    section.contact form {
        grid-template-columns: 60% auto;
    }

}
@media (max-width: 1350px) {

    section.wall {
        padding: 100px 100px;
    }
    section.wall .thumbnail {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(6, 350px);
    }

}

/* ************************** */

@media (max-width: 1150px) {
       
    section.wall .block .title,
    section.team .block .title,
    section.contact .block .title {
        font-size: 5em;
    }
    section.wall .block p,
    section.team .block p,
    section.contact .block p {
        font-size: 1.6em;
    }

    /* *** */
    section.wall .thumbnail {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: repeat(6, 350px);
    }

    /* **** */
    section.team {
        padding: 100px 100px;
    }
    section.team div.team {
        display: block;
        padding-top: 30px;
    }
    div.card {
        margin: 0 auto 40px;
    }

    /* **** */
    section.contact {
        padding: 1000px 100px 50px;
    }

    /* **** */
    section.contact form {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        background-size: contain;
        margin-top: 50px;
    }

    section.contact form {
        grid-template-columns: 60% auto;
    }

}


/* ************************* */


@media (max-width: 1000px) {

    section.wall .block .title,
    section.team .block .title,
    section.contact .block .title {
        font-size: 4.5em;
    }
    section.wall .block p,
    section.team .block p,
    section.contact .block p {
        font-size: 1.6em;
    }

    /* *** */

    header nav {
        display: none;
    }

    .burgerToggle {
        display: block;
        position: relative;
        width: 40px;
        height: 40px;
        background: url(img/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        transition: 0.2s linear;
        margin: auto 0;
        margin-left: auto;
    }

    .burgerToggle:hover {
        filter: opacity(0.8);
    }

    .burgerToggle.active {
        display: block;
        position: relative;
        background: url(img/close.png);
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;

        margin: auto 0;
        margin-left: auto;

        transition: all 0.4s ease-in-out;
    }

    .burgerToggle.active:hover {
        transform: rotate(180deg);
        background-size: 18px;
        filter: opacity(0.8);
        transition: all 0.4s linear;
    }

    /* *** The Nav outside the screen before we call it */
    .nav {
        display: block;
        justify-content: center;
        position: relative;
        grid-column: 3/5;
        grid-row: 2/3;
        height: 100vh;

        opacity: 0;

        transform: translateY(-1500px);
        /* transform: translateX(500px); */
        transition: all 0.7s linear;
        transform-origin: top;
    }

    .nav a {
        justify-content: center;
        margin: 20px 0;
        font-size: 1.2em;
    }

    .nav.active {
        display: block;
        justify-content: center;
        grid-column: 3/5;
        grid-row: 2/3;
        height: 100vh;

        background: rgba(5, 5, 5, 0.7);
        backdrop-filter: blur(7px);

        opacity: 1;
        transform: translateY(0);
        transition: all 0.6s linear;
    }

    .nav.active a {
        justify-content: center;
        margin: 20px 0;
        font-size: 1.2em;
    }

    .nav.active a:hover {
        font-size: 1.3em;
        letter-spacing: 0.2em;
        font-weight: 400;
    }

    .nav.active a:first-child,
    .nav a:first-child {
        margin-top: 50%;
    }

    .nav.active a:hover:after {
        display: none;
    }

    /* ** CONTENT ** */

    section .content {
        margin-left: 0;
    }

    section .content .title {
        font-size: 5em;
    }

    section .content p {
        font-size: 2em;
    }
    
    /* ********* THE WALL  ** */
    section.wall {
        padding: 100px 50px;
    }

    /* ********* THE TEAM ** */
    section.team {
        height: 500px;
        padding: 100px 50px;
    }

    section.team .block .bg {
        position: absolute;
        background: url(./img/patte_noBg.png) no-repeat center center;
        top: 45px;
        right: 0;
        width: 400px;
        height: 400px;
        background-size: 500px;
    }
    
    /* **** */
    section.contact {
        padding: 1100px 50px 50px;
    }
    section.contact form {
        grid-template-columns: 70% auto;
    }

}


@media (max-width: 800px) {

    section.wall .block .title,
    section.team .block .title,
    section.contact .block .title {
        font-size: 4em;
    }
    section.wall .block p,
    section.team .block p,
    section.contact .block p {
        font-size: 1.6em;
    }

    /* *** */

    section.wall {
        padding: 50px 50px;
    }

    section.wall .thumbnail {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(12, 300px);
    }

    section.wall .thumbnail .thumb {
        width: 90%;
    }
    /* ** THE TEAM ** */
  
    div.card {
        width: 80%;
    }
    .card .imgBx {
        width: 97%;
        height: 250px;
    }
    .card .card-content {
        padding: 15px;
    }

    /* **** */
    section.contact {
        padding: 880px 50px 50px;
    }
    section.contact form {
        grid-template-columns: 100% auto;
    }
    .contactForm .inputBox textarea {
        height: 250px;
    }

}


@media (max-width: 630px) {

    section.wall .block .title,
    section.team .block .title,
    section.contact .block .title {
        font-size: 3em;
    }
    section.wall .block p,
    section.team .block p,
    section.contact .block p {
        font-size: 1.5em;
    }

    /* *** */
    header.sticky {
        grid-template-columns: 5% 55% 35% 5%;
    }
    header a.logo {
        font-size: 1.5em;
    }

    .nav {
        grid-column: 1/5;
        height: 250px;
    }

    .nav.active {
        grid-column: 1/5;
        height: 250px;
    }

    .nav.active a:first-child {
        margin-top: 5%;
    }

    .nav.active a {
        margin: 10px 0;
        font-size: 1.1em;
    }

    .nav.active a:hover {
        font-size: 1.1em;
        letter-spacing: 0.1em;
        font-weight: 400;
    }

    /* **** */


    section.header .content {
        margin-top: 500px;
    }

    section.header .content h1 {
        font-size: 4em;
    }

    section.header .content p {
        margin-top: 5px;

    }

    section.team .block h1 {
        font-size: 3em;
    }

    /* **** */
    section.contact {
        padding: 1050px 50px 50px;
    }
    section.contact form .contactForm {
        padding: 25px 15px;
    }

}

@media (max-width: 550px) {

    header a.logo {
        font-size: 1.4em;
    }

    section.contact {
        padding: 1120px 50px 50px;
    }
} 

@media (max-width: 500px) {

    section.contact {
        padding: 1300px 50px 50px;
    }
} 


@keyframes kit {

    0%,
    100% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 0%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    5% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 10%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    10% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    15% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    20% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 40%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    25% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    30% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    35% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    40% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    45% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    55% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 90%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 80%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    65% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    70% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 60%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    75% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 50%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    80% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 40%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    85% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    90% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 20%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    95% {
        background: linear-gradient(90deg, rgba(82, 241, 255, 1) 0%, white 10%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

@keyframes pop {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}